/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
        behaviors {
                compatible = "zmk,behaviors";

                scr: scr_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                ql: ql_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                qr: qr_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                hlf: hlf {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LCTRL>;
                };

                fll: fll {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LC(LA(F))>;
                };

                sl_ignmods: sl_ignmods {
                        compatible = "zmk,behavior-sticky-key";
                        #binding-cells = <1>;
                        release-after-ms = <1000>;
                        bindings = <&mo>;
                        quick-release;
                        ignore-modifiers;
                };

                sv_aring: sv_aring {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(LBKT)>, <&kp RS(RG(LBKT))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

                sv_adiaer: sv_adiaer {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(SQT)>, <&kp RS(RG(SQT))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

                sv_odiaer: sv_odiaer {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(SEMI)>, <&kp RS(RG(SEMI))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

        };

        macros {
                lwr_toggle_signal: lwr_toggle_signal {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings
                                = <&kp F18>
                                , <&tog 1>
                                ;
                };

                rse_oneshot_signal: rse_oneshot_signal {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings
                                = <&kp F19>
                                , <&sl_ignmods 2>
                                ;
                };
        };

#ifndef KEYMAP_DRAWER
        combos {
                compatible = "zmk,combos";

                /*
                 * Nav layer (layer 1): left-row modifier chords with arrow keys.
                 * Left-row indices on Nav second row: 12..16
                 * Arrow indices: LEFT=18, DOWN=19, UP=20, RIGHT=21
                 */
                combo_nav_i0_left {
                        timeout-ms = <500>;
                        key-positions = <12 18>;
                        layers = <1>;
                        bindings = <&kp LC(LEFT)>;
                };
                combo_nav_i0_down {
                        timeout-ms = <500>;
                        key-positions = <12 19>;
                        layers = <1>;
                        bindings = <&kp LC(DOWN)>;
                };
                combo_nav_i0_up {
                        timeout-ms = <500>;
                        key-positions = <12 20>;
                        layers = <1>;
                        bindings = <&kp LC(UP)>;
                };
                combo_nav_i0_right {
                        timeout-ms = <500>;
                        key-positions = <12 21>;
                        layers = <1>;
                        bindings = <&kp LC(RIGHT)>;
                };

                combo_nav_i1_left {
                        timeout-ms = <500>;
                        key-positions = <13 18>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LG(LS(LEFT))))>;
                };
                combo_nav_i1_down {
                        timeout-ms = <500>;
                        key-positions = <13 19>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LG(LS(DOWN))))>;
                };
                combo_nav_i1_up {
                        timeout-ms = <500>;
                        key-positions = <13 20>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LG(LS(UP))))>;
                };
                combo_nav_i1_right {
                        timeout-ms = <500>;
                        key-positions = <13 21>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LG(LS(RIGHT))))>;
                };

                combo_nav_i2_left {
                        timeout-ms = <500>;
                        key-positions = <14 18>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LS(LEFT)))>;
                };
                combo_nav_i2_down {
                        timeout-ms = <500>;
                        key-positions = <14 19>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LS(DOWN)))>;
                };
                combo_nav_i2_up {
                        timeout-ms = <500>;
                        key-positions = <14 20>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LS(UP)))>;
                };
                combo_nav_i2_right {
                        timeout-ms = <500>;
                        key-positions = <14 21>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LS(RIGHT)))>;
                };

                combo_nav_i3_left {
                        timeout-ms = <500>;
                        key-positions = <15 18>;
                        layers = <1>;
                        bindings = <&kp LC(LA(LEFT))>;
                };
                combo_nav_i3_down {
                        timeout-ms = <500>;
                        key-positions = <15 19>;
                        layers = <1>;
                        bindings = <&kp LC(LA(DOWN))>;
                };
                combo_nav_i3_up {
                        timeout-ms = <500>;
                        key-positions = <15 20>;
                        layers = <1>;
                        bindings = <&kp LC(LA(UP))>;
                };
                combo_nav_i3_right {
                        timeout-ms = <500>;
                        key-positions = <15 21>;
                        layers = <1>;
                        bindings = <&kp LC(LA(RIGHT))>;
                };

                combo_nav_i4_left {
                        timeout-ms = <500>;
                        key-positions = <16 18>;
                        layers = <1>;
                        bindings = <&kp LC(LEFT)>;
                };
                combo_nav_i4_down {
                        timeout-ms = <500>;
                        key-positions = <16 19>;
                        layers = <1>;
                        bindings = <&kp LC(DOWN)>;
                };
                combo_nav_i4_up {
                        timeout-ms = <500>;
                        key-positions = <16 20>;
                        layers = <1>;
                        bindings = <&kp LC(UP)>;
                };
                combo_nav_i4_right {
                        timeout-ms = <500>;
                        key-positions = <16 21>;
                        layers = <1>;
                        bindings = <&kp LC(RIGHT)>;
                };
        };
#endif

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &lwr_toggle_signal &kp SPACE   &kp RET &rse_oneshot_signal &kp RALT
                        >;
                };
                navigation_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | CTRL |CASG | CAS | CA  | C   | CAF |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Nav";
                        bindings = <
   &kp TAB      &kp N1           &kp N2            &kp N3            &kp N4        &kp N5        &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &kp LCTRL    &scr             &ql               &qr               &hlf          &fll          &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT    &none            &none             &none             &none         &none         &trans   &trans   &trans &trans    &trans &trans
                          	        &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Sym";
                        bindings = <
   &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &sv_aring &sv_adiaer &sv_odiaer   &trans      &trans    &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
