/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_COMBO(name, key_a, key_b, behavior) \
        name { \
                timeout-ms = <500>; \
                key-positions = <key_a key_b>; \
                layers = <1>; \
                bindings = <behavior>; \
        };

/ {
        behaviors {
                compatible = "zmk,behaviors";

                scr: scr_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                ql: ql_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                qr: qr_noop {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&none>;
                };

                hlf: hlf {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LCTRL>;
                };

                fll: fll {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LC(LA(F))>;
                };

                sl_ignmods: sl_ignmods {
                        compatible = "zmk,behavior-sticky-key";
                        #binding-cells = <1>;
                        release-after-ms = <1000>;
                        bindings = <&mo>;
                        quick-release;
                        ignore-modifiers;
                };

                sv_aring: sv_aring {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(LBKT)>, <&kp RS(RG(LBKT))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

                sv_adiaer: sv_adiaer {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(SQT)>, <&kp RS(RG(SQT))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

                sv_odiaer: sv_odiaer {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp RG(SEMI)>, <&kp RS(RG(SEMI))>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <(MOD_RSFT)>;
                };

        };

        macros {
                lwr_toggle_signal: lwr_toggle_signal {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings
                                = <&kp F18>
                                , <&tog 1>
                                ;
                };

                rse_oneshot_signal: rse_oneshot_signal {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings
                                = <&kp F19>
                                , <&sl_ignmods 2>
                                ;
                };

                pipe_bslash_swap: pipe_bslash_swap {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LS(NON_US_BSLH)>, <&kp NON_US_BSLH>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                        keep-mods = <0>;
                };

                hrs: hrs {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LS(LG(J))>;
                };

                hrm: hrm {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        wait-ms = <0>;
                        tap-ms = <0>;
                        bindings = <&kp LS(LG(SPACE))>;
                };
        };

#ifndef KEYMAP_DRAWER
        combos {
                compatible = "zmk,combos";

                /*
                 * Nav layer (layer 1): left-row modifier chords with arrow keys.
                 * Left-row indices on Nav second row: 12..16
                 * Arrow indices: LEFT=18, DOWN=19, UP=20, RIGHT=21
                 */
                NAV_COMBO(combo_nav_i0_left, 12, 18, &kp LC(LEFT))
                NAV_COMBO(combo_nav_i0_down, 12, 19, &kp LC(DOWN))
                NAV_COMBO(combo_nav_i0_up, 12, 20, &kp LC(UP))
                NAV_COMBO(combo_nav_i0_right, 12, 21, &kp LC(RIGHT))

                NAV_COMBO(combo_nav_i1_left, 13, 18, &kp LC(LA(LG(LS(LEFT)))))
                NAV_COMBO(combo_nav_i1_down, 13, 19, &kp LC(LA(LG(LS(DOWN)))))
                NAV_COMBO(combo_nav_i1_up, 13, 20, &kp LC(LA(LG(LS(UP)))))
                NAV_COMBO(combo_nav_i1_right, 13, 21, &kp LC(LA(LG(LS(RIGHT)))))

                NAV_COMBO(combo_nav_i2_left, 14, 18, &kp LC(LA(LS(LEFT))))
                NAV_COMBO(combo_nav_i2_down, 14, 19, &kp LC(LA(LS(DOWN))))
                NAV_COMBO(combo_nav_i2_up, 14, 20, &kp LC(LA(LS(UP))))
                NAV_COMBO(combo_nav_i2_right, 14, 21, &kp LC(LA(LS(RIGHT))))

                NAV_COMBO(combo_nav_i3_left, 15, 18, &kp LC(LA(LEFT)))
                NAV_COMBO(combo_nav_i3_down, 15, 19, &kp LC(LA(DOWN)))
                NAV_COMBO(combo_nav_i3_up, 15, 20, &kp LC(LA(UP)))
                NAV_COMBO(combo_nav_i3_right, 15, 21, &kp LC(LA(RIGHT)))

                NAV_COMBO(combo_nav_i4_left, 16, 18, &kp LC(LEFT))
                NAV_COMBO(combo_nav_i4_down, 16, 19, &kp LC(DOWN))
                NAV_COMBO(combo_nav_i4_up, 16, 20, &kp LC(UP))
                NAV_COMBO(combo_nav_i4_right, 16, 21, &kp LC(RIGHT))
        };
#endif

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &lwr_toggle_signal &kp SPACE   &kp RET &rse_oneshot_signal &kp RALT
                        >;
                };
                navigation_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | CTRL |CASG | CAS | CA  | C   | CAF |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT | ALT | HRS | HRM |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Nav";
                        bindings = <
   &kp TAB      &kp N1           &kp N2            &kp N3            &kp N4        &kp N5        &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &kp LCTRL    &scr             &ql               &qr               &hlf          &fll          &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT    &kp LALT         &hrs              &hrm              &none         &none         &trans   &trans   &trans &trans    &trans &trans
                          	        &kp LGUI     &kp RGUI       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                symbol_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |  ?  |  "  |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        display-name = "Sym";
                        bindings = <
   &kp TAB   &kp EXCL   &kp LS(SQT) &kp NON_US_HASH &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS    &kp KP_MULTIPLY  &kp LPAR   &kp RPAR   &kp BSPC
   &kp LCTRL &sv_aring  &sv_adiaer  &sv_odiaer      &trans     &trans       &kp MINUS  &kp EQUAL   &kp LBKT         &kp RBKT   &kp FSLH         &kp GRAVE
   &kp LSHFT &trans     &trans      &trans           &kp QMARK  &kp LS(N2)   &kp UNDER    &kp PLUS      &kp LBRC       &kp RBRC      &pipe_bslash_swap &kp TILDE2
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
